<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - İLAÇ REÇETE TAKİP SİSTEMİ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/simple-line-icons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Highlight-Clean.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/smoothproducts.css')}}">
</head>

<body><div class="ui grid container center aligned">
    <div class="row">
        <div class="six wide computer column eleven wide tablet eleven wide mobile">

            {% extends "base.html" %}

            {% block content %}
        <div class="ui stacked segment">
            <h3>&nbsp</h3>
            <h3>Add a prescription</h3>
            <br>
            <form class="ui form" action="{%add" url="" 'add-prescription'="" %}="" method="POST">
                {% csrf_token %}
                <div class="ui centered large form">
                    <div class="centered fields">
                        <div class="five wide huge field">
                            <label for="doctor_id">Doctor ID</label>
                                <div class="ui fluid input">
                                    <input type="text" readonly="" value="{{ doctor_id }}" name="doctor_id" style="text-align:center;">
                                </div>
                                
                                <small>This is your ID.</small>
                        </div>

                        <div class="eleven wide field">
                            <label for="patient_id">Patient</label>
                                {% if patients %}
                                <select class="ui dropdown" name="patient_id">
                                    <option value="">Select patient</option>
                                    {% for p in patients %}
                                    <option value="{{ p.patient_id }}">{{ p.name }}</option>
                                    {% endfor %}
                                </select>

                                {% else %}
                                You don't have patients yet!
                                {% endif %}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="required ten wide field">
                            <label for="medicine">Medicine</label>
                            <input type="text" placeholder="Medicine name" name="medicine">
                        </div>
                        <div class="required six wide field">
                            <label for="quantity">Quantity</label>
                            <input type="number" placeholder="Quantity" name="quantity">
                        </div>
                    </div> 
                    <div class="field">
                        <label for="notes">Notes</label>
                        <textarea rows="2" name="notes" placeholder="Additional notes for patient"></textarea>
                    </div>
                               
                </div>
                <br><br>
                <input type="submit" value="Add prescription" class="ui fluid large blue button">
            </form>
            
            <p><a href="{% url 'dashboard' %}">&lt; Go back to dashboard</a></p>
    </div>
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown();
    $('select.dropdown').dropdown();
  
    
    
    
</script>

{% endblock %}</div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="width: 1217px;height: 47px;">
        <div class="container"><a class="navbar-brand logo" href="#">İLAÇ REÇETE TAKİP SİSTEMİ</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" data-aos="fade" href="http://127.0.0.1:5000/">CIKIS YAP</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:5000/contact-us/">Şikayet bildiri</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>