<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - İLAÇ REÇETE TAKİP SİSTEMİ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/simple-line-icons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Highlight-Clean.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/smoothproducts.css')}}">
</head>

<body>
    <div class="highlight-blue" style="width: 797px;height: 272px;margin: 99px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Bildiriminiz Alınmıştır</h2>
                <p class="text-center">Bizimle irtibata geçtiğiniz için teşekkür ederiz</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="http://127.0.0.1:5000/contact-us/">Tamam</a></div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>