<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
  
</head>

<body>
  <div class="row">
    <header class="col-xs-14">
      <h1>Websitemize Hoşgeldiniz<br>
      </h1>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="paragraph">Lütfen Giriş yapınız.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><a class="link-button btn" href="http://127.0.0.1:5000/login/" title="" >Giriş Yapmak İçin Tıklayın</a>
    </div>
  </div>

</body>

</html>